<div class="row">
  <div class="columns small-12">
      <h1 > Robot configuration</h1>
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 1 
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 2
  </div>  
  <div class="columns small-12 medium-4 large-3">
      Dispenser 3
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 4
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 5
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 6
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 7
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 8
  </div>
  <div class="columns small-12 medium-4 large-3">
      Dispenser 9
  </div>
</div>