<div class="row">
  <div class="small-10 small-centered columns">
    <h1 class="text-center">
      Choose one of my tasty beverages
    </h1>
  </div>
</div>
<div class="row">
  <a href="/recipes/new" data-remote="true">
  <div class="small-8 small-offset-2 medium-4 medium-offset-1 columns button success recipes-head">
    <h3>
      add new drink
    </h3>
  </div>
  </a>
  <a href="/recipes/random" data-remote="true">
  <div class="small-8 small-offset-2 medium-4 medium-offset-2 columns end button success recipes-head">
    <h3>
      I'm feeling lucky
    </h3>
  </div>
  </a>
</div>

<div id="recipe-list" class="row" data-equalizer>
<%= render partial: "recipe", locals: {recipes: @recipes} %>
</div>