<div id="recipe-list" data-equalizer>
  <% recipes.each do |recipe| %>
  <div class="recipe-listing small-12 medium-4 large-3 columns " data-equalizer-watch>
    <div class = "row button height-fix">
      <div class= "columns small-12">
        <%= recipe.name %>, by <%= User.find(recipe.user_id).fname %>
      </div>
      <div class= "columns small-12">
        <%= recipe.desc %>
      </div>
      <div class= "columns small-12">
        HowTo: <%= recipe.instructions %>
      </div>
    </div>
  </div>
  <% end %>
</div>