<div class="row">
  <div class="small-10 small-centered columns">
    <h1>
      Choose one of my tasty beverages
    </h1>
  </div>
</div>
<div class="row">
  <a href="/recipes/new">
  <div class="small-4 small-offset-1 columns button">
    <h3>
      add new drink
    </h3>
  </div>
  </a>
  
  <div class="small-4 small-offset-1 columns end button">
    <h3>
      something else
    </h3>
  </div>
</div>

<div id="recipe-list" class="row" data-equalizer>
<%= render partial: "recipe", locals: {recipes: @recipes} %>
</div>