<div class="row">
  
  <div class="columns small-12">
    <h1>Ingredients</h1>
  </div>
  <% @ingredients.each do |i| %>
    <div class="columns small-6 medium-3 large-2 text-center end">
      <%= link_to i.name, edit_ingredient_path(i.id), :class => "button height-fix" %>
      
    </div>
  <% end %>
</div>