<div class="row">
  <div class="small-12 medium-8 large-6 small-centered columns">
    <h1>NEW INGREDIENT</h1>

  </div>
</div>
<div class="row">
  
<%= render(:partial => "form", :locals => {:ingredient => @ingredient}) %>
  
</div>