// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#flash_notice, #flash_alert {
  width: 100%;
  text-align: center;
  padding: 1%;
  background: #ad3d32;
}

#drink-picture{
  width:100%;
  height:0;
  background: url('/assets/soda.png') no-repeat;
  background-size:cover;
	padding: 133% 0 0 0;
	overflow: hidden;
}

.ingredient{

  height:100%;
}

.recipe-li{
  height:100%;
}
.rainbow{
  width:100%;
}

input.amount-input{

}
.recipe-listing{
  position:relative;
}

.rating{
  font-size:3em;
  height:64px;
}
%vote-div{
  height:64px;
}
.upvote-div{
  @extend %vote-div;
}
.downvote-div{
  @extend %vote-div;
}
%vote{
  position:absolute;
  top:0;
  width:64px;
  height:0;
  background: url('/assets/upvote.png') no-repeat;
  background-size:128px 194px;  
	padding: 64px 0 0 0;
	overflow: hidden;
  margin-left:15px;
  margin-right:15px;
}
.upvote{
  @extend %vote;
  left:0;
}
.upvote:hover{
  background-position:-64px 0px;
}
.downvote{
  @extend %vote;
  right:0;
  background-position:0px -130px;
}
.downvote:hover{
  background-position:-64px -130px;
}