<div class="row">



<div class="jumbotron section small-10 small-offset-1 columns">
  <h1>
    BARBOT
  </h1>
  <p>
    BARBOT was concieved and built in the last two days before new years eve 2013. Two long nights of much hustle, the bot came to life hours before the new years party it was built for.
  </p>
  <p>
    This unfortunately did not leave time to develop a proper ui for it. However, now that the builder is becoming an actual web dev, he thought it was time for an upgrade. Thus BARBOT interface was born.
  </p>
</div>


</div>