<div class="row">



<div class="jumbotron section small-10 small-offset-1 columns">
  <h1>
    BARBOT
  </h1>
  <p>
BARBOT was concieved and built in the two days leading up to New Year's Eve 2013. After two long nights of work, the bot came to life hours before the New Year's party it was built for.
</p>
<p>
This, unfortunately, did not leave time to develop a proper UI for it. However, now that the builder is becoming an actual web developer, he thought it was time for an upgrade. Thus, the BARBOT interface was born.
  </p>
</div>


</div>