<div class="row">

  <% if user_signed_in? %>

  <div class="jumbotron section small-10 small-offset-1 columns">
    <h1>Hello there!</h1>
    <p>I'm BARBOT, your own personal robotic bartender. Unfortunately, I can't do everything, so you will have to teach me some recipies to make.</p>
  </div>

  <% else %>
  <div class="jumbotron section small-10 small-offset-1 columns">
    <h1>Hello there!</h1>
    <p>I'm BARBOT, your own personal robotic bartender. Unfortunately, I can't do everything, so you will have to teach me how to make some recipies.  First, you'll have to sign up or log in below.</p>
  </div>

  <div class="row">
    <div class="columns small-6 small-offset-3">
      <%= link_to "Sign up", new_user_registration_path, :class => "button" %>
    </div>
  </div>
  <div class="row">
    <div class="columns small-6 small-offset-3">
      or <%= link_to "Log in", new_user_session_path %>
    
    </div>
  </div>
  <% end %>

</div>