<div class="row">

<% if user_signed_in? %>

<div class="jumbotron section small-10 small-offset-1 columns">
  <h1>Hello there!</h1>
  <p>I'm BARBOT your own personal robotic bartender. Unfortunately, I can't do everything, so you will have to teach me some recipies to make.</p>
</div>

<% else %>
<div class="jumbotron section small-10 small-offset-1 columns">
  <h1>Hello there!</h1>
  <p>I'm BARBOT your own personal robotic bartender. Unfortunately, I can't do everything, so you will have to teach me some recipies to make.  First you'll have to login so I know how to address you.</p>
</div>
<% end %>

</div>