<div class="row">


  <div class="jumbotron section small-10 small-offset-1 medium-6 columns">
    <h1>Hello there!</h1>
    <p>I'm BARBOT, your own personal robotic bartender. Unfortunately, I can't do everything, so you will have to teach me how to make some recipies.  First, you'll have to sign up or log in.</p>
  </div>

  <div class="columns small-10 small-offset-1, medium-4">
    <div class="row">
      <div class="columns small-9 small-offset-1">
        <br/><br/><br/>
        <%= link_to "Sign up", new_user_registration_path, :class => "button" %>
      </div>
    </div>
    <div class="row">
      <div class="columns small-6 small-offset-1">
        or <%= link_to "Log in", new_user_session_path %>
    
      </div>
    </div>
  </div>

</div>